[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=FR
ST=RandomState
L=RandomCity
O=Developer
OU=IT
CN=127.0.0.1.nip.io
emailAddress=developer@freelance.com
CN = *.nip.io

[v3_req]
authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.127.0.0.1.nip.io
DNS.2 = *.plateforme.127.0.0.1.nip.io
DNS.3 = 127.0.0.1.nip.io